.Esquilador-mobile-monitor p {
  font-size: 24pt;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Esquilador-mobile-header {
  background-color: #c5c8d0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 36pt;
  color: black;
}
